Deployment/
/Deployment/
!README.md
!CONTRIBUTING.md
!SECURITY.md
*.md
*.log
*.tmp
*.cache
*.example
TrimmerRoots.xml
*.db
!Source/PortwayApi/environments/WMS/demo.db
!.github/demo/data/demo.db
.venv/
/logs/
/.core/
.git/
.fake
Source/PortwayApi/.core/
# Ignore log files
Source/coverage.runsettings
Documentation/docs/node_modules/*
Documentation/package-lock.json
