Deployment/
/Deployment/
*.log
*.tmp
*.cache
*.example
TrimmerRoots.xml
*.db
.venv/
/logs/
/.core/
.git/
.fake
Source/PortwayApi/.core/
# Ignore log files
Source/coverage.runsettings
Documentation/docs/node_modules/*
Documentation/package-lock.json
